apscheduler
peewee

# used for databases
psycopg2-binary

# Used in most system plugins
psutil

# Used by SMART plugin, requires 'smartmontools' installed + root access
pySMART

# robor plugin
requests
lxml

# stocks plugin
yfinance
